html, body, #root {
  height: 100%;
  width: 100%;
  direction: rtl;
}

label {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}

.checkbox {
  direction: rtl;
  text-align: right;
}

.DropDown {
  text-align: right;
}

.button-wrapper{
  width: 56.5%;
  justify-content: center;
}

.buttons-wrapper button{
  width: 46.5%;
  margin-left: 2.5%;
}

.padding {
  margin-top: 5%;
}

.container {
  display: flex; /* or inline-flex */
}

.text-align-right { 
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}

.no-rtl {
  direction: ltr;
}

.type-viewer-element {
  padding-top: 0.25rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.5rem !important;
}

